<div class="card">
  <div class="card-body">
    <h4 class="card-title">EDIT PRODUCT</h4>
    <p class="card-description"> Enter product details </p>
    <form
      class="forms-sample"
      enctype="multipart/form-data"
      action="/admin/editprod/{{product._id}}"
      method="post"
      id="addnewpro"
    >
      <div class="form-group row">
        <label
          for="exampleInputUsername2"
          class="col-sm-3 col-form-label"
        >PRODUCT NAME</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            name="product_name"
            id="exampleInputUsername2"
            value="{{product.product_name}}"
          />
        </div>
      </div>

      <div class="form-group row">
        <label
          for="exampleInputEmail2"
          class="col-sm-3 col-form-label"
        >CATEGORY</label>
        <div class="col-sm-9">
          {{! <input type="email" class="form-control" id="exampleInputEmail2" placeholder="enter category"> }}

          <select name="category" class="form-control" id="">
              <option selected value="{{product.category}}">{{product.category}}</option>
            {{#each categories}}
              <option>{{this.categoryname}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="exampleInputMobile"
          class="col-sm-3 col-form-label"
        >AUTHOR</label>
        <div class="col-sm-9">
          <input
            type="text"
            name="author"
            class="form-control"
            id="exampleInputMobile"
            value="{{product.author}}"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="exampleInputPassword2"
          class="col-sm-3 col-form-label"
        >PUBLISHER</label>
        <div class="col-sm-9">
          <input
            type="text"
            name="publisher"
            class="form-control"
            id="exampleInputPassword2"
            value="{{product.publisher}}"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="exampleInputConfirmPassword2"
          class="col-sm-3 col-form-label"
        >ISBN</label>
        <div class="col-sm-9">
          <input
            type="text"
            name="isbn"
            oninput="this.value = this.value.replace(/[^0-9-]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control"
            id="exampleInputConfirmPassword2"
            value="{{product.isbn}}"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="exampleInputPassword2"
          class="col-sm-3 col-form-label"
        >QUANTITY</label>
        <div class="col-sm-9">
          <input
            type="text"
            name="quantity"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
            class="form-control"
            id="exampleInputPassword2"
            value="{{product.quantity}}"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="exampleInputPassword2"
          class="col-sm-3 col-form-label"
        >PRICE</label>
        <div class="col-sm-9">
          <input
            type="text"
            name="price"
            class="form-control"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
            id="exampleInputPassword2"
            value="{{product.price}}"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">DESCRIPTION</label>
        <div class="col-sm-9">
          <input
            type="textarea"
            name="description"
            class="form-control"
            id="exampleInputPassword2"
            value="{{product.description}}"
          />
        </div>
      </div>
 
        <div class="col-12">
        <div id="image-box" style="width: 500px; height: 500px; display: none;"></div>
        <button class="btn btn-primary mt-3" type="button" style="display: none;"
            id="crop-btn">Crop</button>
    </div>
      
        {{!-- <div class="form-group row" id="img-preview">
            <label for="" class="col-sm-3 form-label">Image1</label><br>
            <input type="file"  name="image1" accept="image/*" onchange="viewMainImage()">
            <img src="" alt="" class="mt-4" style="width: 15rem;height:17rem;display:none" id="imageview1"><br>
           <img style="width:15rem;height:17rem" src="/product-images/{{product._id}}1.png" id="editimageview1" alt="">
          </div> --}}

          <div class="mt-5">
        <label for="">IMAGE 1</label>
        <img src="" alt="" style="width: 100px; height:auto" id="imgview1">
        <img style="width: 100px; height:auto" src="/product-images/{{product._id}}1.png" id="editimageview1" alt="">
        {{!-- <div id="preview1"></div> --}}
        <input type="file" name="image1" id="file1" class="form-control"
            onchange="return fileValidationedit1()">
        </div>

           {{!-- <div class="form-group row" id="img-preview">
            <label for="" class="col-sm-3 form-label">Image2</label><br>
            <input type="file"  name="image2" accept="image/*" onchange="viewMainImage2()">
            <img src="" alt="" class="mt-4" style="width: 15rem;height:17rem;display:none" id="imageview2"><br>
           <img style="width:15rem;height:17rem" src="/product-images/{{product._id}}1.png" id="editimageview2" alt="">
          </div> --}}

           <!-- preview 2 -->
          <div class="mt-5">
          <label for="">IMAGE 2</label>
          <img src="" alt="" style="width: 100px; height:auto" id="imgview2">
          <img style="width: 100px; height:auto" src="/product-images/{{product._id}}2.png" id="editimageview2" alt="">
          {{!-- <div id="preview2"></div> --}}
          <input type="file" name="image2" id="file2" class="form-control"
            onchange="return fileValidationedit2()">
         </div>


           {{!-- <div class="form-group row" id="img-preview">
            <label for="" class="col-sm-3 form-label">Image3</label><br>
            <input type="file"  name="image3" accept="image/*" onchange="viewMainImage3()">
            <img src="" alt="" class="mt-4" style="width: 15rem;height:17rem;display:none" id="imageview3"><br>
           <img style="width:15rem;height:17rem" src="/product-images/{{product._id}}1.png" id="editimageview3" alt="">
          </div> --}}


         <div class="mt-5">
        <label for="">IMAGE 3</label>
        <img src="" alt="" style="width: 100px; height:auto" id="imgview3">
         <img style="width: 100px; height:auto" src="/product-images/{{product._id}}3.png" id="editimageview3" alt="">
        {{!-- <div id="preview3"></div> --}}
        <input type="file" name="image3" id="file3" class="form-control"
            onchange="return fileValidationedit3()">
    </div><br><br>
     

      <button id="confirm-btn" type="submit" class="btn btn-primary mr-2">Submit</button>
      {{!-- <button class="btn btn-light">Cancel</button> --}}
    </form>
  </div>
</div>


<script src="/user/javascripts/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>
function fileValidationedit1() {
  
    const imagebox = document.getElementById('image-box')
    const crop_btn = document.getElementById('crop-btn')
    var fileInput = document.getElementById('file1');

var filePath = fileInput.value;

// Allowing file type
var allowedExtensions = 
        /(\.jpg|\.jpeg|\.png|\.gif)$/i;
  
if (!allowedExtensions.exec(filePath)) {
    alert('Invalid file type');
    fileInput.value = '';
    return false;
} else {
        //Image preview
        document.getElementById('editimageview1').classList.add("editimage");
        const img_data = fileInput.files[0]
        const url = URL.createObjectURL(img_data)
        imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
        const image = document.getElementById('image')
        document.getElementById('image-box').style.display = 'block'
        document.getElementById('crop-btn').style.display = 'block'
        document.getElementById('confirm-btn').style.display = 'none'

        const cropper = new Cropper(image, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: false,
            zoomable: false,
            movable: false,
            aspectRatio: 16 / 16,
            //  preview: '.preview',
            minCropBoxWidth: 180,
            minCropBoxHeight: 240,
        })
        crop_btn.addEventListener('click', () => {
            cropper.getCroppedCanvas().toBlob((blob) => {
                let fileInputElement = document.getElementById('file1');
                let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                let container = new DataTransfer();

                container.items.add(file);
                const img = container.files[0]
                var url = URL.createObjectURL(img)
                fileInputElement.files = container.files;
                document.getElementById('imgview1').src = url
                document.getElementById('image-box').style.display = 'none'
                document.getElementById('crop-btn').style.display = 'none'
                document.getElementById('confirm-btn').style.display = 'block'
            });
        });
    }
}


  function fileValidationedit2() {
  
    document.getElementById('editimageview2').classList.add("editimage");
    const imagebox = document.getElementById('image-box')
    const crop_btn = document.getElementById('crop-btn')
    var fileInput = document.getElementById('file2');

var filePath = fileInput.value;

// Allowing file type
var allowedExtensions = 
        /(\.jpg|\.jpeg|\.png|\.gif)$/i;
  
if (!allowedExtensions.exec(filePath)) {
    alert('Invalid file type');
    fileInput.value = '';
    return false;
} else {
        //Image preview
        const img_data = fileInput.files[0]
        const url = URL.createObjectURL(img_data)
        imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
        const image = document.getElementById('image')
        document.getElementById('image-box').style.display = 'block'
        document.getElementById('crop-btn').style.display = 'block'
        document.getElementById('confirm-btn').style.display = 'none'

        const cropper = new Cropper(image, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: false,
            zoomable: false,
            movable: false,
            aspectRatio: 16 / 16,
            //  preview: '.preview',
            minCropBoxWidth: 180,
            minCropBoxHeight: 240,
        })
       
        crop_btn.addEventListener('click', () => {
            cropper.getCroppedCanvas().toBlob((blob) => {
                let fileInputElement = document.getElementById('file2');
                let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                let container = new DataTransfer();
            
                container.items.add(file);
                const img = container.files[0]
                var url = URL.createObjectURL(img)
                fileInputElement.files = container.files;
                document.getElementById('imgview2').src = url
                document.getElementById('image-box').style.display = 'none'
                document.getElementById('crop-btn').style.display = 'none'
                document.getElementById('confirm-btn').style.display = 'block'
            });
        });
    }
}




 function fileValidationedit3() {
    document.getElementById('editimageview3').classList.add("editimage");
    const imagebox = document.getElementById('image-box')
    const crop_btn = document.getElementById('crop-btn')
    var fileInput = document.getElementById('file3');

var filePath = fileInput.value;

// Allowing file type
var allowedExtensions = 
        /(\.jpg|\.jpeg|\.png|\.gif)$/i;
  
if (!allowedExtensions.exec(filePath)) {
    alert('Invalid file type');
    fileInput.value = '';
    return false;
} else {
        //Image preview
        const img_data = fileInput.files[0]
        const url = URL.createObjectURL(img_data)
        imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
        const image = document.getElementById('image')
        document.getElementById('image-box').style.display = 'block'
        document.getElementById('crop-btn').style.display = 'block'
        document.getElementById('confirm-btn').style.display = 'none'

        const cropper = new Cropper(image, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: false,
            zoomable: false,
            movable: false,
            aspectRatio: 16 / 16,
            //  preview: '.preview',
            minCropBoxWidth: 180,
            minCropBoxHeight: 240,
        })
        crop_btn.addEventListener('click', () => {
            cropper.getCroppedCanvas().toBlob((blob) => {
                let fileInputElement = document.getElementById('file3');
                let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                let container = new DataTransfer();

                container.items.add(file);
                const img = container.files[0]
                var url = URL.createObjectURL(img)
                fileInputElement.files = container.files;
                document.getElementById('imgview3').src = url
                document.getElementById('image-box').style.display = 'none'
                document.getElementById('crop-btn').style.display = 'none'
                document.getElementById('confirm-btn').style.display = 'block'
            });
        });
    }
}


{{!-- form validation --}}

$("#addnewpro").validate({
    rules:{
      product_name:{
            required:true
        },
        category:{
            required:true
            
        },
        author:{
            required:true,

        },
        
        publisher:{
            required:true,
        },
        isbn:{
            required:true
        },
        quantity:{
          required:true,
          number:true
        },
        price:{
          required:true,
          number:true
        },
        description:{
          required:true
        }
        
    },
    messages:{
      product_name:{
            required: 'Product name is required'
        },
        category:{
            required: 'Category is required'
        },
        author:{
            required:'Author name is required'

        },
        publisher:{
            required: 'Publisher name is required'
        },
        isbn:{
            required: 'isbn  is required'
        },
        quantity:{
          required:'Product quantity is required'
        
        },
        price:{
          required:'Price is required'
        
        },
        description:{
          required:'Description is required'
        }
    
        
       
    },
    highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            }
});

</script>