
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 {{#if cartEmty}}
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/user/stylesheets/order.css">
 {{/if}}

<link rel="stylesheet" href="user/stylesheets/cartNew.css">

<section class="cart_area">
     {{!-- <div class="container">
        <div class="cart_inner"> --}}

            {{#if cartEmty}}
             <div class="container mt-5 mb-5">
              <div class="row">
                  <div class="col-md-6 mx-auto mt-5 ">
                    <div class="payment">
                        <div class="payment_header bg-info">
                          <div class="check"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                        </div>
                        <div class="content">
                          <h1>YOUR CART IS EMTY !</h1>
                          <p></p>

                          <a class="" href="/category">Go to collections</a>
                        </div>
                        
                    </div>
                  </div>
              </div>
            </div>
             {{else}}
          {{!-- emty --}}

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4 class="text-secondary"><b>SHOPPING CART</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"></div>
                </div>
            </div>
            {{#each cartProducts}}
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://booklib.ml/product-images/{{this.product._id}}1.png"></div>
                    <div class="col">
                        <div class="row text-muted"></div>
                        <div class="row">{{this.product.product_name}}</div>
                    </div>
                    <div class="col"> <a onclick="changeQty('{{this._id}}','{{this.product._id}}','{{../user._id}}','{{this.product.quantity}}',-1)">-</a><a id="{{this.product._id}}" class="border">{{this.quantity}}</a><a onclick="changeQty('{{this._id}}','{{this.product._id}}','{{../user._id}}','{{this.product.quantity}}',1)">+</a> </div>
                    <div hidden class="col" id="{{this.product._id}}price">{{this.product.price}}</div>
                    <div  class="col" id="{{this.product._id}}subtotal">{{Subtotal}} <span onclick="cartProductdelete('{{this._id}}','{{this.product._id}}')" class="close">&#10005;</span></div>
                </div>
            </div>
            {{/each}}
            
            <div class="back-to-shop"><a href="/category">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                {{!-- <div class="col" style="padding-left:0;">SUB TOTAL</div>
                <div id="total" class="col text-right">{{totalvalue}}</div> --}}
            </div>
            {{!-- <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                </select>
                <p></p> <input id="code" placeholder="Enter your code">
            </form> --}}
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div  class="col text-right"><span id="total" >{{totalvalue}}</span></div>
            </div> <a href="/checkout"><button class="btnCheckout">CHECKOUT</button></a>
        </div>
    </div>
</div>
{{/if}}
        {{!-- </div>
     </div> --}}
      </section>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="user/javascripts/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {{!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
 <script>
      function changeQty(cartId,proId,userId,Stock,count){
         
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        let price=parseInt(document.getElementById(proId+'price').innerHTML)
        let subtotal =parseInt(document.getElementById(proId+"subtotal").innerHTML);
        
        
        count=parseInt(count)
        if(quantity>=Stock&&count==1){

          
        }
        else{
          $.ajax({
          url:'/change-product-quantity',
          data:{
            user:userId,
            cart:cartId,
            product:proId,
            count:count,
            quantity:quantity,
            price:price
          },
          method:'post',
          success:(response)=>{
            if(response.removeProduct){
            
             const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
              {{!-- toast.addEventListener('mouseenter', Swal.stopTimer) --}}
              {{!-- toast.addEventListener('mouseleave', Swal.resumeTimer) --}}
            }
          })

          Toast.fire({
            icon: 'failure',
            title: 'Product deleted from cart'
          })

              location.reload()
            }
            else{
                
              document.getElementById(proId).innerHTML=quantity+count
              document.getElementById('total').innerHTML=response.total
              
              
              if(count == 1){
                 document.getElementById(proId+"subtotal").innerHTML = subtotal+price;
              }
              else{
                 document.getElementById(proId+"subtotal").innerHTML = subtotal-price;
              }
              
            }
          }
        })
        }  
      }


    function cartProductdelete(cartId,proId){

      swal({
        title: "Are you sure?",
        text: "Once confirmed ,the product will be removed from cart!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
             $.ajax({
                   url:'/deleteCartproduct',
                   data:{
                   cart:cartId,
                   product:proId
                   },
                    method:'post',
                    success:(response)=>{
                     swal("user Blocked!", {
                         icon: "success",
                       });
         
                    location.reload()
                  }
                })

       }

})


    }  
    </script>